" Copy this file into my_configs.vim and modify


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => GUI Settings
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
if has("gui_running")
    " You want the toolbar? OK, comment the following
    set guioptions-=T

    " Set you prefered font here
    if has("gui_macvim")
        " set guifont=Hack:h12,Menlo:h15
    elseif has("gui_gtk2")
        " set guifont=Hack\ 11
    elseif has("gui_win32")
        " set guifont=Hack:h11:cANSI
    endif
endif


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Editing
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
noremap 0 ^
noremap ^ 0


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Indentations & folds
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Set you prefered styles here
set nofoldenable
" au FileType javascript setl sw=2 sts=2 et nofoldenable


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Color
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set background=dark
" gruvbox comes with lightline (status line) theme as well
colorscheme gruvbox


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => CtrlP
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Exclude some more paths?
let g:ctrlp_custom_ignore = g:ctrlp_custom_ignore .
                            \ '\|custom\/exclude\/path1' " custom ctrlp exclude path
                            \ '\|custom\/exclude\/path2' " another exclude path


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => MiniBufExplorer
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Uncomment the following to disable MiniBufExplorer on start 
" let g:miniBufExplorerAutoStart = 0


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => ALE
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Replace with your favourite code style fixers
let g:ale_fixers = {
  \   'javascript': [
  \       'eslint',
  \   ],
  \   'vue': [
  \       'eslint',
  \   ],
  \   'ruby': [
  \       'rubocop',
  \   ],
  \ }


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Session Management
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Uncomment disable auto session management, you can still call SaveSession()
" and RestoreSession()
let g:auto_session_management = 1


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Misc
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Disable persistent undo
set noundofile

" To load project .vimrc, uncomment the following.
" set exrc
